<sdx-header
  index='{ "label": "Home", "href": "/" }'
  login='
  {
    "customer": { "fullName": "{}" },
    "slot": "login"
  }'
  getNavigationHelpers
  slots='[
    {
      "label": "Your Cart",
      "iconName": "icon-shopping-trolley",
      "slot": "cart",
      "badge": "{}"
    },
    {
      "label": "Settings",
      "iconName": "icon-settings",
      "slot": "settings"
    }
  ]'
  navigation='{
    "main": {
      "label": "Navigation",
      "children": [
        {
          "label": "Mobile",
          "children": [
            {
              "label": "Mobile subscription",
              "href": "/"
            },
            { "label": "Prepaid", "href": "/" },
            {
              "label": "International tariffs",
              "href": "/"
            },
            {
              "label": "Options",
              "href": "/"
            },
            {
              "label": "The new blue mobile subscriptions",
              "href": "/"
            }
          ]
        },
        {
          "label": "Internet",
          "children": [
            {
              "label": "Internet subscription",
              "href": "/"
            },
            {
              "label": "Home network setup",
              "href": "/"
            },
            {
              "label": "Options",
              "href": "/"
            },
            {
              "label": "The new blue Internet subscriptions",
              "href": "/"
            }
          ]
        },
        {
          "label": "Devices",
          "children": [
            {
              "label": "Smartphones",
              "href": "/smartphones"
            },
            {
              "label": "Internet",
              "href": "/internet"
            },
            {
              "label": "TV",
              "href": "/tv"
            },
            {
              "label": "Internet, TV & Landlines",
              "children": [
                {
                  "label": "Landline Phones",
                  "href": "/"
                },
                {
                  "label": "Network accessories",
                  "href": "/"
                },
                {
                  "label": "Router & Internet-Box",
                  "href": "/"
                },
                {
                  "label": "Swisscom Box & TV accessories",
                  "href": "/"
                },
                {
                  "label": "Hotspots",
                  "href": "/"
                }
              ]
            },
            {
              "label": "Tablets, Notebooks & Smartwatches",
              "children": [
                {
                  "label": "Tablets",
                  "href": "/"
                },
                {
                  "label": "Laptops & Notebooks",
                  "href": "/"
                },
                {
                  "label": "Smartwatches",
                  "href": "/"
                }
              ]
            },
            {
              "label": "Smart Home",
              "children": [
                {
                  "label": "Smart Home accessories",
                  "href": "/"
                },
                {
                  "label": "Trackers",
                  "href": "/"
                },
                {
                  "label": "Security Cameras",
                  "href": "/"
                }
              ]
            },
            {
              "label": "Accessories",
              "children": [
                {
                  "label": "Cases & Covers",
                  "href": "/"
                },
                {
                  "label": "Screen protectors",
                  "href": "/"
                },
                {
                  "label": "Powerbanks & Chargers",
                  "href": "/"
                },
                {
                  "label": "Memory cards",
                  "href": "/"
                },
                {
                  "label": "Headphones",
                  "href": "/"
                },
                {
                  "label": "Speakers",
                  "href": "/"
                },
                {
                  "label": "Gadgets",
                  "href": "/"
                }
              ]
            },
            {
              "label": "Brands",
              "children": [
                {
                  "label": "The best from Apple & Swisscom",
                  "href": "/"
                },
                {
                  "label": "The best from Samsung & Swisscom",
                  "href": "/"
                }
              ]
            },
            {
              "label": "Deals",
              "href": "/"
            }
          ]
        },
        { "label": "Help", "href": "/docs" }
      ]
    },
    "primary": {
      "label": "Departments",
      "children": [
        { "label": "About Swisscom", "href": "https://www.swisscom.ch/en/about.html" },
        { "label": "blue News", "href": "https://www.bluewin.ch/de/index.html" }
      ]
    },
    "secondary": {
      "label": "Services",
      "children": [
        {
          "label": "My Swisscom",
          "href": "https://www.swisscom.ch/myswisscom",
          "iconName": "icon-person",
          "rel": "nofollow"
        },
        {
          "label": "E-Mail",
          "href": "https://www.bluewin.ch/en/email",
          "iconName": "icon-message"
        },
        {
          "label": "Network & Outages",
          "href": "https://www.swisscom.ch/en/residential/help/network-and-service-status.html",
          "iconName": "icon-transmitter"
        }
      ]
    },
    "tertiary": {
      "label": "Contact & Language",
      "children": [
        { "label": "Contact", "href": "https://www.swisscom.ch/en/residential/help/contact.html" },
        {
          "label": "{}",
          "children": [
            {
              "label": "EN",
              "href": "/"
            },
            {
              "label": "DE",
              "href": "/"
            },
            {
              "label": "FR",
              "href": "/"
            },
            {
              "label": "IT",
              "href": "/"
            }
          ]
        }
      ]
    }
  }'
>

