<sdx-header
index='{ "label": "Home", "href": "/" }'
login='
    {
    "customer": { "fullName": "{}" },
    "slot": "login"
    }'
getNavigationHelpers
slots='[
    {
        "label": "Your Cart",
        "iconName": "icon-search",
        "slot": "search-by-id",
        "badge": "By ID"
    },
    {
        "label": "Your Cart",
        "iconName": "icon-search",
        "slot": "search-by-client",
        "badge": "By Client"
    }
    ]'
navigation='{
    "main": {
    "label": "Navigation",
    "children": [
        {
            "label": "Kunden",
            "href": "/"
        }
    ]
    },
    "primary": {
      "label": "Departments",
      "children": [
        { "label": "About Swisscom", "href": "https://www.swisscom.ch/en/about.html" },
        { "label": "blue News", "href": "https://www.bluewin.ch/de/index.html" }
      ]
    },
    "secondary": {
      "label": "Services",
      "children": [
        {
          "label": "My Swisscom",
          "href": "https://www.swisscom.ch/myswisscom",
          "iconName": "icon-person",
          "rel": "nofollow"
        },
        {
          "label": "E-Mail",
          "href": "https://www.bluewin.ch/en/email",
          "iconName": "icon-message"
        },
        {
          "label": "Network & Outages",
          "href": "https://www.swisscom.ch/en/residential/help/network-and-service-status.html",
          "iconName": "icon-transmitter"
        }
      ]
    },
    "tertiary": {
      "label": "Contact & Language",
      "children": [
        { "label": "Contact", "href": "https://www.swisscom.ch/en/residential/help/contact.html" },
        {
          "label": "{}",
          "children": [
            {
              "label": "EN",
              "href": "/"
            },
            {
              "label": "DE",
              "href": "/"
            },
            {
              "label": "FR",
              "href": "/"
            },
            {
              "label": "IT",
              "href": "/"
            }
          ]
        }
      ]
    }
  }'
>

