
<div *ngIf="fetchSuccessful">
        <div class="header">
                <div class="button-row">
                        <h1>Clients</h1>
                        <sdx-button label="Create"></sdx-button>
                </div>
                <h4 class="sub-header">Clients who have been onboarded on the UID/GID Database are displayed here.</h4>
                <hr class="divider divider--mid-gray" aria-hidden="true">

        </div>


        <div class="content">
                <div *ngFor="let client of clients; let i = index;">
                        <sdx-card class="card" label="{{client.name}}" label-aria-level="2" href="/client/{{client.id}}" href-label="Details" href-aria-label="Open new website.">
                                <div class="row">
                                        <div class="col-xs"><sdx-icon class="icon" icon-name="icon-account" size="" sr-hint="Displays the user account"></sdx-icon> {{client.email}}</div>
                                        <div class="col-xs">UID Range: {{client.uidRange[0]}} - {{client.uidRange[1]}}</div>
                                </div>
                                <div class="row">
                                        <div class="col-xs"></div>
                                        <div class="col-xs">GID Range: {{client.gidRange[0]}} - {{client.gidRange[1]}}</div>
                                </div>
                        </sdx-card>
                
                </div>
        </div>

</div>

<div *ngIf="!fetchSuccessful" class="error">
        <app-error-page [type]="'fetchError'"></app-error-page>
</div>
