<div class="detailpage">
    <div class="top-row">    
        <h1>{{client.name}}</h1>     
        <sdx-button-group>
            <sdx-button label="Edit"></sdx-button>
            <sdx-button theme="secondary" label="Delete"></sdx-button>
        </sdx-button-group>    </div>
    <h4>{{client.description}}</h4>

    <hr class="divider divider--mid-gray" aria-hidden="true">

    <div class="content">
        <div class="row">
            <p class="col-xs"><sdx-icon class="icon" icon-name="icon-account" size="" sr-hint="Displays the user account"></sdx-icon> E-Mail: {{client.email}}</p>
            <p class="col-xs">UID Range: {{client.uidRange[0]}} - {{client.uidRange[1]}}</p>
            <p class="col-xs"></p>
        </div>
        <div class="row">
            <p class="col-xs"><sdx-icon class="icon" icon-name="icon-speech-bubble" size="" sr-hint="Displays the user account"></sdx-icon> Comment: {{client.comment}}</p>
            <p class="col-xs">GID Range: {{client.gidRange[0]}} - {{client.gidRange[1]}}</p>
            <p class="col-xs"></p>
        </div>
    </div>
</div>
