h1 {
    margin-bottom: 16px;
}

p {
    font-size: 20px;
}

.detailpage {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.details {
    margin-top: 50px;
}

.card {
    display: block;
    margin-bottom: 15px;
}